@use "sass:map";
@use "../variables" as vars;

.spinner {
  height: 14px;
  width: 14px;
  border: 1px solid map.get(vars.$colors, spinner-bg);
  border-top: 1px solid map.get(vars.$colors, border);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
